body{
    background-color: aquamarine;
}

nav{
    background-color: fuchsia;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.appLinkText{
    color: black;
    font-size: 25px;
    font-weight:500;
    text-decoration: none;
    text-transform: none;
}

h1{
    text-align: center;
}

button{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.issuesForm{
    text-align: center;
}

.singleIssueDiv{
    text-align: center;
    font-size: 17px;
    border-style: solid;
    border-color: black;
    background-color: navajowhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: auto;
    width: 400px;
}

.userComments{
    text-align: center;
    font-size: 17px;
    border-style: solid;
    border-color: black;
    background-color: navajowhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    width: 400px;
}

.voteBtn{
    margin-left: auto;
    margin-right: auto;
}

.deleteCommentBtn{
    margin-left: auto;
    margin-right: auto;
}